/*************************** Portada **********************/

.portada{
    text-align: center;
}

.portada > .fondo > img{
    height: 100vh;
    width: 100%;
}
.portada > .fondo > .overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(25, 209, 231,.5) 0%, rgba(243,17,224,0.5) 60%);
    position: absolute;
    top: 85px;
}


.portada .info{
    bottom: 32vh;
    position: absolute;
    width: 100%;
}
#titulo-principal{
    font-size: 84px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.portada > .info > .intro-position{
    font-family: "lora-regular", serif;
    font-size: 1.7rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #FFFFFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.portada > .info > a.stroke{
    background: transparent !important;
    border: 3px solid #fff;
}

.portada > .info > a{
    display: inline-block;
    font-family: "poppins-bold", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    height: 5.4rem;
    line-height: 5.4rem;
    padding: 0 3rem;
    background: #d8d8d8;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border: none;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
}
